.ownMessage{
    text-align:left!important;
    margin-left: 20px!important;
    padding-top: 10px;
    text-indent: 20px;
    font-size: 15px!important;
  }
  .othersMessage{
    text-align:left!important;
    margin-left: 20px!important;
    text-indent: 20px;
    padding-top:10px;
    font-size: 15px!important;
  }
  .speech-bubble {
    position: relative;
    background: #ff80ff;
    color: black;
    font-family: Arial;
    font-size: 20px;
    line-height: 120px;
    width: 300px;
    min-height: 20px!important;
    border-radius: 10px;
	padding: 0px;
	margin: 10px auto;
	margin-right: 100%
}
.speech-bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #ff80ff transparent;
    top: 50%;
    left: -20px;
    margin-top: -10px;
}

.speech-bubble1 {
    position: relative;
    background: #00C700;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    line-height: 120px;
    width: 300px;
    min-height: 20px!important;
    border-radius: 10px;
	padding: 0px;
	float: right;
	margin: 10px auto;
	margin-left: 100%;
}
.speech-bubble1:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #00C700;
    top: 50%;
    right: -20px;
    margin-top: -10px;
}

#Name{
  font-size: 30px;
  float:left;
  margin-left: 30px;
}
  #inbox{
    height: 300px;
	overflow-y: auto;
	padding: 50px;
  }
   body{
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVEdtL5mvVKltcnfG1cZN7yeeToRoZyoeetwq61VV17_ibx4RGoA);
     background-repeat: no-repeat;
     background-size: cover;
     width:100%;
     height: auto;
   }
   
   .card{
     border-radius: 20px;
     box-shadow: 100px gray;
   }

   h1{
     background-color: pink;
     margin-left: 40px;
     margin-right: 40px;
   }
   h2{
     background-color: aqua;
   }

   #users{
     height: 300px;
     overflow-y: scroll;
     padding-left: 20px;
   }

   #divInbox, #divMessage{
     width:60%;
     margin-left: 40px;
   }

   #divUsers{
    width:30%;
    float:right;
    margin-right: 40px;
    margin-top: -550px;
  }
   
  ::-webkit-scrollbar { 
    display: none; 
}
	 